* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica,arial,sans-serif;
    letter-spacing: -1px;
    line-height: 1.4em;
    text-align: left;
    background: #eae8c6 url(../img/layout/contentbg.jpg) 0 145px repeat-x; /* top fade from header */
}

#non-compatible {
    margin: 1em;
}

#non-compatible {
    display: none;
}

#header {
    position: relative;
    width: 100%;
    height: 144px;
    background: #fff url(../img/layout/headbg.jpg) repeat-x;
    border-bottom: 1px solid #3d5708;
}

#header h1 {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 226px;
    height: 56px;
    background-image: url(../img/layout/logo.png);
    text-indent: -9000px;
}

#header h1 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header p {
    position: absolute;
    top: 90px;
    left: 64px;
    width: 220px;
    color: #222;
    text-decoration: underline;
    padding: 0.2em;
}

#header p strong {
    font-size: 1.5em;
    padding-right: 0.3em;
}

#header p:hover {
    color: #000;
    cursor: pointer;
}

#header #options {
    position: absolute;
    top: 30px;
    right: 220px;
    clear: both;
}

#header #options > div {
    position: relative;
    margin-bottom: 0.2em;
}

#header #options select {
    width: 15em;
    font-size: 0.9em;
    color: #333;
}

#header #options label {
    display: block;
    float: left;
    width: 10em;
    margin-right: 1em;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: right;
}

#header #jsf_settings_submit_update, #header #jsf_settings_submit_reset {
    position: absolute;
    right: 0;
    bottom: -2em;
    width: 79px;
    height: 22px;
    background: transparent url(../img/buttons/update.png) no-repeat;
}

#header #jsf_settings_submit_reset {
    right: 90px;
    background: transparent url(../img/buttons/reset.png) no-repeat;
}

#header #jsf_settings_submit_update:hover, #header #jsf_settings_submit_reset:hover {
    cursor: pointer;
    background-position: 0 -22px;
}

#header #rerender {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 130px;
    color: white;
    padding-left: 1.4em;
    border-left: 1px solid #3F550C;
}

/* rendering message wrapper */
#rendering {
    display: none;
    position: absolute;
    width: 75%;
    right: 5%;
    top: 5%;
    border: 1px solid #5d5b35;
}

/* rendering message background (separate div to achieve opacity) */
#rendering_bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

/* rendering message text */
#rendering_message {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
    background: url(../img/icons/rendering.png) no-repeat left center;
}

#rendering_status {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0 0.2em;
    font-weight: normal;
}

#workspace_wrapper {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid #fff;
}

#workspace {
    margin: 0 auto;
    background: transparent url(../img/layout/contentbg_footer.jpg) left bottom repeat-x;
    padding-bottom: 56px;
}

#fractal_container {
    position: relative;
    margin: 3em auto;
    padding: 3px;
    border: 1px solid #fff;
    background: #5d5b35;
}

h2#timeline_title {
    position: relative;
    margin: 1em auto 0.2em auto;
    width: 50%;
    border: 1px solid #5d5b35;
    padding: 0.2em 0.3em;
    background: #fff;
    color: #5d5b35; 
}

#timeline {
    position: relative;
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
}
 
#timeline #history {
    overflow-x: auto;
    overflow-y: hidden;
}

#timeline #history canvas {
    margin: 5px 5px 0 0;
    border: 3px solid #d7d39a;
    opacity: 0.3;
}

#timeline #history canvas.active {
    opacity: 1;
    border-color: #5d5b35;
}

#timeline #history canvas:hover {
    opacity: 1;
    border-color: #5d5b35;
}

#timeline_title #play {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    width: 79px;
    height: 22px;
    cursor: pointer;
    background: transparent url(../img/buttons/play.png) no-repeat;
}

#timeline_title #play:hover {
    background-position: 0 -22px;
}

#timeline #play:hover {
    background-color: #ddd;
}

#footer {
    position: relative;
    width: 100%;
    background: #6d675e url(../img/layout/footbg.jpg) repeat-x;   
}

#footer #help {
    width: 100%;
    overflow: hidden;
}

#footer .help {
    float: left;
    width: 16%;
    padding: 2% 2% 2% 2%;
}

#footer .help h2 {
    color: #fff;
    border-bottom: 1px solid #222;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 32px;
    background-repeat: no-repeat;
}

#footer .help.about h2 { background-image: url(../img/icons/about.png); }
#footer .help.zoom h2 { background-image: url(../img/icons/zoom.png); }
#footer .help.timeline h2 { background-image: url(../img/icons/timeline.png); }
#footer .help.bookmark h2 { background-image: url(../img/icons/bookmark.png); }
#footer .help.settings h2 { background-image: url(../img/icons/settings.png); }

#footer .help p {
    color: #ddd;
    margin-bottom: 0.5em;
}

#footer > p {
    color: #555;
    text-align: right;
    margin: 0 2% 0 2%;
    padding: 0.2em;
}

#footer > p span {
    color: #333;
    font-weight: bold;
}

#footer > p span.divider {
    padding: 0 0.5em;
}

#footer > p a {
    color: #ddd;
    text-decoration: underline;
}

#footer > p a:hover {
    color: #000;
}

#footer #render_time {
    font-style: italic;
    padding: 0 0.3em;
}

